:root {
  --primary-color: #e78c14;
  --secondary-color: #cce2ff;
  --whiteColor:#dfdedd;
  --buttonColor:#48405c;
  --gradientColor:#8066f0;
  --blackColor:#48405c;
  --heading-color: #0b2727;
  --text-color: #6e7074;
  --font-name: "Montserrat", sans-serif;
  --subtitle-font-name: "Island Moments", cursive;
}

.header {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary-color);
  padding: 1rem;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(29, 20, 6, 0.295);
  /* .logoDiv{
      color:var(--blackColor);
      font-weight: 600;
      cursor:pointer ;
      align-items: center;
      justify-content: center;

      .icon{

          font-size: 25px;
          color: var(--primary-color);
          transform:translateY(2px) ;
          display: inline-block;
      }

  } */
}
.header .logoDiv {
  color: var(--blackColor);
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .logoDiv .icon {
  font-size: 25px;
  color: var(--primary-color);
  margin-right: 5px;
}
@media screen and (max-width: 768px) {
  .header .navBar {
    position: absolute;
    background: wheat;
    height: -moz-max-content;
    height: max-content;
    width: 80%;
    border-radius: 1rem;
    top: -500rem;
    left: 50%;
    padding: 1rem;
    transform: translate(-50%);
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904);
    transition: 0.1s ease-in-out;
  }
  .header .navBar .navLists {
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: auto;
    padding: 0.5rem 0;
  }
  .header .navBar .navLists .navItem {
    padding: 0.5rem 0;
  }
  .header .navBar .navLists .navItem .navLink {
    color: var(--heading-color);
    font-size: 0.9rem;
    font-weight: 600;
  }
  .header .navBar .navLists .navItem .navLink:hover {
    color: var(--primary-color);
  }
  .header .navBar .navLists .btn {
    margin-top: 1rem;
    background-color: #f38d28;
  }
  .header .navBar .navLists .btn:hover {
    background-color: #eba157;
  }
  .header .navBar .navLists .btn a {
    font-weight: 600;
    color: var(--buttonColor);
  }
  .header .navBar .closeNavbar {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: var(--buttonColor);
  }
  .header .navBar .closeNavbar .icon {
    font-size: 25px;
  }
  .header .navBar .closeNavbar:hover {
    color: var(--primary-color);
  }
  .header .activeNavbar {
    top: 5rem;
  }
}
.header .toggleNavbar {
  color: var(--primary-color);
}
.header .toggleNavbar .icon {
  font-size: 30px;
}
.header .toggleNavbar:hover {
  color: var(--heading-color);
}

@media screen and (min-width: 769px) {
  .toggleNavbar, .closeNavbar {
    display: none;
  }
  .header {
    padding: 1.5rem 6rem;
  }
  .header .navBar .navLists {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .header .navBar .navLists .navItem .navLink {
    color: var(--blackColor);
    padding: 0 1rem;
    font-size: 0.9rem;
    font-weight: 500;
  }
  .header .navBar .navLists .navItem:hover {
    color: var(--secondary-color);
  }
  .header .navBar .btn {
    margin-left: 4rem;
  }
  .header .navBar .btn a {
    color: var(--whiteColor);
  }
}
@media screen and (min-width: 960px) {
  .header .navBar .navLists .navItem {
    padding: 0 0.7rem;
  }
}
@media screen and (min-width: 960px) {
  .header {
    padding: 1rem 8.5rem;
  }
}/*# sourceMappingURL=navbar.css.map */